* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 72%; /* Adjust the width as needed */
    height: 100vh;
}

#banner-title {
    color: #007bff;
    font-size: 28px;
    font-weight: bold;
}

#right-banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 28%; /* Adjust the width as needed */
    height: 100vh; /* Ensure the banner fills the entire height */
    background-color: #ffffff; /* Optional: background color */
    padding: 20px;
    overflow-y: auto; /* Enables scrolling for the charts */
}

#right-banner canvas {
    width: auto;
    height: auto; /* Ensure it scales correctly */
    max-height: 100%; /* Prevents it from exceeding container bounds */
    margin-bottom: 20px; /* Space between charts */
}

#kpi-container {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    text-align: center;
}

#kpi, #kpi2 {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

#kpi2 {
    color: #28a745;
}

#menu {
    position: absolute;
    top: 0px; /* Adjust the top value as needed */
    left: 20px; /* Adjust the left value as needed */
    font-size: 1rem;
    text-transform: capitalize;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    border: 1px solid #ddd;
}

.premium-popup {
    background: white;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.premium-popup h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.2em;
    color: #333;
}

.premium-popup h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
    color: #808080;
}

.popup-details {
    display: flex;
    justify-content: space-between;
}

.popup-details div {
    text-align: center;
}

.popup-details strong {
    display: block;
    font-size: 1.1em;
    color: #007bff;
    font-weight: bold;
}

.popup-details div + div {
    margin-left: 20px;
}

#toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#toggle-button:hover {
    background-color: #0056b3;
}
